*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*date*/
.wrapper .wrapper1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .date{
    margin: 1rem 1rem 1rem 1rem;
    border: solid 1px rgb(177,206,1);
    border-radius: 10px;
    width: 40rem;
}
.wrapper .date ul li{
    list-style: none;
    margin: 10px 10px 10px 10px;
}
.wrapper .wrapper1 ul {
    margin-top: 1rem;
}
/*q1*/
.wrapper .date ul .q1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*checkbox*/
.wrapper .date ul .q1 li p{
    background-color: transparent;
}
/*q2*/
.wrapper .date ul .q2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


/*file input*/
.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.wrapper2 .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(177,206,1);
    border-radius: 10px;
    width: 40rem;
}
.wrapper2 .img div {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*name menu image*/
.wrapper2 .img div p{
    margin-bottom: 10px;
}
/*input file*/
.wrapper2 .img div input[type="file"]::file-selector-button{
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    color: whitesmoke;
    background-color: tomato;
    transition: 0.35s;
    cursor: pointer;
}
.wrapper2 .img div .imageLogo{
    width: 15rem;
}
.wrapper2 .img div .imageMenu{
    color: rgba(0, 0, 0, 0);
    width: 10rem;
}
.wrapper2 .img div input[type="file"]::file-selector-button:hover{
    transition: 0.35s;
    background-color: rgb(228, 74, 46);
}

/*list file box*/
.wrapper2 .img div div{
    border: solid 1px rgb(177,206,1);
    border-radius: 10px;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*button*/
.footer button{
    border: none;
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
    margin: 1rem 1rem 1rem 1rem;
    font-weight: bold;
}
/*button enter*/
.footer .request button{
    background-color: rgb(148,166,132);
    transition: 0.35s;
}
.footer .request button:hover{
    background-color: rgb(121,133,111);
    transition: 0.35s;  
}

/*button back*/
.footer .back button{
    background-color: rgb(255, 168, 54);
    transition: 0.35s;  
}
.footer .back button:hover{
    background-color: rgb(223, 154, 64);
    transition: 0.35s;  
}


@media only screen and (max-width: 450px){
    /*q1*/
    .wrapper .date ul .q1{
        flex-direction: column;
    }
    /*q2*/
    .wrapper .date ul .q2{
        flex-direction: column;
    }
    .wrapper2 .img{
        width: 30rem;
    }
    .wrapper2 .img div p{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    .wrapper2 .img div input[type="file"]::file-selector-button{
        display: flex;
        justify-content: center;
        border: none;
        width: 5rem;
        height: 1rem;
        border-radius: 5px;
        font-size: 10px;
    }
    .wrapper2 .img div .imageLogo::file-selector-button{
        display: flex;
        justify-content: center;
        border: none;
        width: 5rem;
        height: 1rem;
        border-radius: 5px;
        font-size: 10px;

    }
    .wrapper2 .img div .imageLogo{
        align-items: center;
        width: 6rem;
    }   
}

@media only screen and (max-width: 330px){
    /*footer*/
    .footer{
        flex-direction: column;
        margin-top: 10px !important;
    }   
}
