*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*date*/
.wrapper .wrapper1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .date{
    margin: 1rem 1rem 1rem 1rem;
    border: solid 1px rgb(177,206,1);
    border-radius: 10px;
    width: 40rem;
}
.wrapper .date ul li{
    list-style: none;
    margin: 12px 1rem 1rem 1rem;
}
.wrapper .wrapper1 ul {
    margin-top: 1rem;
}
/*q1*/
.wrapper .date ul .q1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*checkbox*/
.wrapper .date ul .q1 li p{
    background-color: transparent;
}
/*q2*/
.wrapper .date ul .q2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*file input*/
.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper2 .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(177,206,1);
    border-radius: 10px;
    width: 40rem;
}
.wrapper2 .img div {
    margin: 1rem 0 1rem 0;
}
.wrapper2 .img div p{
    margin-bottom: 10px;
}
.wrapper2 .img div div{
    border: solid 1px rgb(177,206,1);
    border-radius: 10px;
}
