*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*wrapper*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*box*/
.wrapper .box{
    margin: 6rem 1rem 1rem 1rem;
    border: solid 1px rgb(177, 206, 1);
    border-radius: 8px;
    box-shadow: 5px 5px rgb(237, 237, 237);
    width: 40rem;
    background-color: white;
}

/*logo*/
.wrapper .box .logo{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 1rem 1rem;
}
.wrapper .box .logo img{
    background-color: white;
    width: 60px;
}
.wrapper .box .logo p{
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

/*field*/
.wrapper .field{
    margin: 2rem 0 1rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*input*/
.wrapper .field ul{
    background-color: white;
}
.wrapper .field ul .textField li{
    list-style: none;
    background-color: white;
}
.wrapper .field ul .textField p{
    background-color: white;
}
.wrapper .field ul .textField li input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(202,202,202);
    background-color: white;
    border-radius: 10px;
    width: 16rem;
    height: 40px;
    font-size: 18px;
    padding: 20px;
    transition: 0.3;
}

/*error*/
.wrapper .field ul .error{
    background-color: white;
    margin-bottom: 20px;
}

/*btn*/
.wrapper .field .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.wrapper .field .btn button{
    cursor: pointer;
    border: none;
    background-color: rgb(148, 168, 132);
    width: 5rem;
    height: 3rem;
    border-radius: 5px;
    transition: 0.35s;
    font-weight: bold;
    font-size: 16px;
}
.wrapper .field .btn button:hover{
    transition: 0.35s;
    background-color: rgb(121,133,111);
}

/*footer*/
.wrapper .field .footer{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wrapper .field .footer p{
    margin: 0 1rem 0 1rem;
    background-color: white;
}

@media only screen and (max-width: 560px){
    .wrapper .field .footer{
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px){
    .wrapper .field ul .textField li input{
        width: 10rem;
        height: 40px;
        padding: 16px;
    }
    .wrapper .field .footer p{
        margin: 0 1rem 1rem 1rem;
        background-color: white;
        font-size: 14px;
    }
}