*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

li{
    list-style: none;
}

div .box{
    margin: auto;
    margin-top: 7rem;
    border: 1.5px solid rgb(177, 206, 1);
    justify-content: center;
    border-radius: 20px;
    width: 40%;
    box-shadow: 10px 10px rgb(226, 226, 226);
}


.logo{
    margin-top: 4rem;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 300px){
    h4 {
        font-size: 10px;
    }
    .box .logo .loginImage{
        width: 40px;
    }
}
.logo .loginImage{
    width: 3rem;
    margin-right: 15px;
}
.field ul .textField {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field ul .textField li input {
    background-color: white;
    border-radius: 3rem;
    height: 1.8rem;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;

}
@media screen and (max-width: 920px){

    .field ul .textField li input{
        width: 180px;
    }
}
@media screen and (max-width: 750px){
    .field ul .textField {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    .field ul .textField li input{

        font-size: 20px;
        padding: 15px;
    }
}
/* @media screen and (max-width: 560px){
    .field ul {
        align-items: center;
    }
    .field ul .textField p{
        font-size: 14px;
    }
    .field p {
        font-size: 10px;
    }
    .field ul .textField li input{
        width: 150px;
    }
} */
@media screen and (max-width: 560px){
    .logo .loginImage{
        width: 2rem;
        margin-right: 15px;
    }
    h4{
        font-size: 10px;
    }
    .field{
        margin: auto;
    }
    .field p {
        font-size: 8px;
    }
    .field ul .textField{
        margin-left: 9px;
    }
    .field ul .textField p{
        margin-top: 10px;
        margin-left: 15px;
    }
    .field ul .textField li input{
        width: 80px;
        height: 1.2rem;
        font-size: 10px;
        padding: 10px;
    }
    .box .field .AcceptBt{
        padding: 5px 15px;
        font-size: 10px;
    }
}

.box .field ul .error {
    text-align: center;
}


.field .AcceptBt{
    display: flex;
    align-items: center;
    margin: auto;

    font-weight: bold;
    font-size: 15px;
    background-color: rgb(148, 166, 132);
    transition: 0.35s;
    padding: 10px 30px;
    border-radius: 10px;
}
.AcceptBt:hover {
    background-color: rgb(121, 142, 102);
    transition: 0.35s;
    padding: 10px 33px;
}


.signupLink{
    text-align: center;
    font-size: 14px;
    margin: 20px;
}