* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*wrapper*/
.wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*main*/
.wrapper .main{
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(232, 230, 230);
}

/*header*/
.wrapper .main .header{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    padding: 10px;
}
.wrapper .main .header p{
    color: white;
    background-color: black;
}

/*background*/
.wrapper .main .back .background{
    width: 100%;
    filter: blur(1.8px);
}


/*data*/
.wrapper .main .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,242,242);

}
.wrapper .main .data .image{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*image profile circle*/
.wrapper .main .data .circular{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: solid 3px black;
    border-radius: 50%;
    margin: 1rem;
    background-color: white;

    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.35s;
}
/*image picture*/
.wrapper .main .data .image img{
    width: 100%;
    background-color: transparent;
}
@media only screen and (max-width: 660px){
    .wrapper .main .data .circular{
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: solid 3px black;
        border-radius: 50%;
        margin: 1rem;
    }
}


.wrapper .main .data .show{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    background-color: transparent;
}

/*show*/
.wrapper .main .data .show .field{
    width: 40rem;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/*field*/
.wrapper .main .data .show .field div{
    display: flex;
    margin: 1rem 0 1rem 1rem;
    align-items: center;
    width: 90%;
}

/*text*/
.wrapper .main .data .show .field div .name{
    font-size: 20px;
    margin: 20px 100px 20px 50px;
    font-weight: bold;
}
/*text show*/
.wrapper .main .data .show .field div div p{
    color: rgb(102,102,102);
    font-size: 20px;
}

@media only screen and (max-width: 840px){
    /*show*/
    .wrapper .main .data .show .field{
        width: 30rem;
    }
    .wrapper .main .data .show .field div .name{
        font-size: 20px;
        margin: 20px 25px 20px 5px;
        font-weight: bold;
    }
    /*text show*/
    .wrapper .main .data .show .field div div p{
        color: rgb(102,102,102);
        font-size: 20px;
    }
}


@media only screen and (max-width: 660px){
    .wrapper .main .data .show{
        width: 25rem;
    } 
    /*show*/
    .wrapper .main .data .show .field{
        width: 25rem;
    }
    .wrapper .main .data .show .field div .name{
        font-size: 15px;
        margin: 20px 100px 20px 50px;
        font-weight: bold;
    }
    /*text show*/
    .wrapper .main .data .show .field div div p{
        color: rgb(102,102,102);
        font-size: 15px;
    }
}

@media only screen and (max-width: 550px){
    .wrapper .main .data .show{
        width: 15rem;
    } 
    /*show*/
    .wrapper .main .data .show .field{
        width: 25rem;
    }
    .wrapper .main .data .show .field div .name{
        font-size: 12px;
        margin: 20px 25px 20px 5px;
        font-weight: bold;
    }
    /*text show*/
    .wrapper .main .data .show .field div div p{
        color: rgb(102,102,102);
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px){
    .wrapper .main .data .show{
        width: 15rem;
    } 
    /*show*/
    .wrapper .main .data .show .field{
        width: 15rem;
    }
    .wrapper .main .data .show .field div .name{
        font-size: 12px;
        margin: 20px 25px 20px 5px;
        font-weight: bold;
    }
    /*text show*/
    .wrapper .main .data .show .field div div p{
        color: rgb(102,102,102);
        font-size: 12px;
    }
}

@media only screen and (max-width: 300px){
    .wrapper .main .data .show{
        width: 10rem;
    } 
    /*show*/
    .wrapper .main .data .show .field{
        width: 10rem;
    }
    .wrapper .main .data .show .field div .name{
        font-size: 10px;
        margin: 20px 3px 20px 0;
        font-weight: bold;
    }
    /*text show*/
    .wrapper .main .data .show .field div div p{
        color: rgb(102,102,102);
        font-size: 10px;
    }
}


/*pass*/
.wrapper .pass{
    width: 80vw;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,242,242);
    box-shadow: 5px 5px rgb(232, 230, 230);
}
.wrapper .pass .header{
    background-color: transparent;
}
.wrapper .pass .header div{
    background-color: transparent;
}
.wrapper .pass .header div p{
    margin: 2rem;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

/*filed*/
.wrapper .pass .field {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .pass .field div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin: 20px 0 2px 0;
}
/*input*/
.wrapper .pass .field div input{
    border: solid 1px rgb(202,202,202);
    border-radius: 8px;
    width: 15rem;
    height: 35px;
    background-color: white;
    padding: 20px;
    font-size: 18px;
    transition: 0.3s;
}
.wrapper .pass .field div p{
    background-color: transparent;
    font-size: 18px;
    margin-bottom: 10px;
}
/*error*/
.wrapper .pass .field div .error p{
    background-color: transparent;
    color: tomato;
    padding-left: 5px;
    border-left: solid 2px tomato;
    transition: 0.35s;
    font-size: 16px;
    display: none;
}

/*footer*/
.wrapper .pass .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.wrapper .pass .footer button{
    margin: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
/*back*/
.wrapper .pass .footer div{
    background-color: rgb(242, 242, 242); 
}
.wrapper .pass .footer .back button{
    background-color: rgb(255, 168, 54);
    transition: 0.35s;
    width: 5rem;
    height: 3rem;
    transition: 0.35s; 
}

.wrapper .pass .footer .back button:hover{
    background-color: rgb(223, 154, 64);
    transition: 0.35s;
}

/*accept*/
.wrapper .pass .footer .accept button{
    background-color: rgb(148,166,132);
    transition: 0.35s;
    width: 5rem;
    height: 3rem;
    transition: 0.35s;
}
.wrapper .pass .footer .accept button:hover{
    background-color: rgb(121,133,111);
    transition: 0.35s;
}

@media only screen and (max-width: 340px){
    .wrapper .pass .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    .wrapper .pass .header div p{
        margin: 2rem;
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
    }
    /*input*/
.wrapper .pass .field div input{
    border: solid 1px rgb(202,202,202);
    border-radius: 8px;
    width: 10rem;
    height: 30px;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    }
    .wrapper .pass .field div p{
        font-size: 18px;
        margin-bottom: 10px;
    }
}