*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
.header nav ul{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    list-style: none;
    background-color: rgb(148, 166, 132);
}

/*logo*/
.header nav ul .head{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav ul .head .logo{
    background-color: transparent;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav ul .head .logo img{
    width: 40px;
    background-color: transparent;
    margin-bottom: 10px;
    margin-right: 10px;
}
.header nav ul .head .logo button{
    cursor: pointer;
    color: white;
    font-size: 18px;
    width: 110px;
    height: 40px;
    background-color: transparent;
}

/*home*/
.header nav ul .head .home{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav ul .head .home button{
    margin-left: 2rem;

    width: 60px;
    height: 45px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    transition: 0.35s;
}
.header nav ul .head .home button:hover{
    background-color: rgb(121,133,111);
    transition: 0.35s;
}


.header nav ul .menu {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav ul .menu li{
    background-color: transparent;
}
/*login*/
.header nav ul .menu li button{
    width: 60px;
    height: 45px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    transition: 0.35s;
}
.header nav ul .menu li button:hover{
    background-color: rgb(121,133,111);
    transition: 0.35s;
}


@media only screen and (max-width: 360px){
    .header nav ul .head .home button{
        display: none;
    }
}