* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*wrapper*/
.wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*main*/
.wrapper .main{
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(232, 230, 230);
}

/*header*/
.wrapper .main .header{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    padding: 10px;
}
.wrapper .main .header p{
    color: white;
    background-color: black;
}

/*background*/
.wrapper .main .back .background{
    width: 100%;
    filter: blur(1.8px);
}


/*data*/
.wrapper .data{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(242,242,242);
}
.wrapper .data .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.wrapper .data .header div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: transparent;
}

/*name*/
.wrapper .data .header p{
    text-align: left;
    color: black;
    background-color: rgb(242,242,242);
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 5px 10px;
}
/*info*/
.wrapper .data .header .info{
    text-align: left;
    color: rgb(102,102,102);
    background-color: rgb(242,242,242);
    font-size: 20px;
    font-weight: normal;
}

/*date*/
.wrapper .date{
    display: flex;
    justify-content: left;
    align-items: center;
}
.wrapper .date div{
    border: solid 1px black;
    margin: 1rem 1rem 1rem 1rem;
}
.wrapper .date p{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 15px 10px 15px;
}

/*table*/
.wrapper .table table{
    width: 100%;
}
.wrapper .table table th {
    padding: 1rem 1rem 1rem 1rem;

}

.wrapper .table table tr td{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 10px 15px 10px;
    color: rgb(102,102,102);
    height: 4rem;
}

/*button*/
.wrapper .main .footer{
    display: flex;
    justify-content: right;
}
.wrapper .main .footer button{
    margin: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/*back*/
.wrapper .main .footer div{
    background-color: transparent;
}
.wrapper .main .footer .back button{
    background-color: rgb(148,166,132);
    transition: 0.35s;
    width: 5rem;
    height: 3rem;
    transition: 0.35s; 
}
.wrapper .main .footer .back button:hover{
    background-color: rgb(121,133,111);
    transition: 0.35s;
}


@media only screen and (max-width: 800px){
    /*name*/
    .wrapper .data .header p{
        font-size: 20px;
        margin: 5px 0 5px 10px;
    }
    /*info*/
    .wrapper .data .header .info{
        font-size: 13px;
        font-weight: normal;
    }
    /*date*/
    .wrapper .date p{
        font-size: 15px;
        font-weight: bold;
        margin: 10px 15px 10px 15px;
    }
}
@media only screen and (max-width: 540px){
    .wrapper .table table th {
        font-size: 14px;
        padding: 10px 10px 10px 10px;
    }
    
    .wrapper .table table td{
        font-size: 12px;
        padding: 10px 10px 10px 10px;
        color: rgb(102,102,102);
    }
}
@media only screen and (max-width: 420px){
    .wrapper .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 8px;
        box-shadow: 5px 5px rgb(232, 230, 230);
    }
    /*name*/
    .wrapper .data .header p{
        font-size: 15px;
        margin: 5px 0 5px 10px;
    }
    /*info*/
    .wrapper .data .header .info{
        font-size: 11px;
        font-weight: normal;
    }
    .wrapper .date p{
        font-size: 12px;
        font-weight: bold;
        margin: 10px 15px 10px 15px;
    }

    .wrapper .main .footer button{
        margin: 1rem 1rem 1rem 1rem;
        border: none;
        border-radius: 9px;
    }
    /*back*/
    .wrapper .main .footer .back button{
        font-size: 12px;
        width: 4rem;
        height: 30px;
    }
}
@media only screen and (max-width: 340px){
    .wrapper .table table th {
        padding: 6px 6px 6px 6px;
        font-size: 12px;
    
    }
    .wrapper .table table td{
        padding: 15px 10px 15px 10px;
        height: 2rem;
        font-size: 10px;
    }
}

@media only screen and (max-width: 300px){
    /*name*/
    .wrapper .data .header p{
        font-size: 12px;
        margin: 5px 0 5px 10px;
    }
    /*info*/
    .wrapper .data .header .info{
        font-size: 10px;
    }
    .wrapper .table table th {
        padding: 4px 4px 4px 4px;
        font-size: 8px;
    } 
    .wrapper .table table td{
        padding: 15px 10px 15px 10px;
        color: rgb(102,102,102);
        font-size: 8px;
    }
    /*back*/
    .wrapper .main .footer .back button{
        border-radius: 4px;
        font-size: 10px;
        width: 4rem;
        height: 20px;
    }
}