*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/
.wrapper .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(177,206,1);
    margin: 5rem 10px 5rem 10px;
    border-radius: 10px;
    width: 40rem;
}

/*header*/
.wrapper .box .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1rem 1rem;
}
.wrapper .box .logo img {
    width: 120px;
    margin-right: 10px;
}
.wrapper .box .logo .signup p{
    font-weight: normal;
    font-size: 3vh;
}
@media only screen and (max-width: 360px){
    .wrapper .box .logo img {
        width: 80px;
        margin-right: 2px;
    }
    .wrapper .box .logo .signup p{
        font-size: 2vh;
    }
}

/*form*/
li{
    list-style: none;
}
.wrapper .box .form {
    margin: 1rem 1rem 1rem 1rem;
}
/*name*/
.wrapper .box .form ul li p{
    margin-left: 10px;
}
/*input*/
.wrapper .box .form ul li input  {
    margin: 10px 10px 1rem 10px;
    border: solid 1px rgb(202,202,202);
    border-radius: 10px;
    height: 2rem;
    padding: 20px;
}

/*button*/
.wrapper .box .form .enter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .box .form .enter button p{
    background-color: transparent;
}
.wrapper .box .form .enter button{
    margin: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(148,166,132);
    width: 5rem;
    height: 2rem;
    transition: 0.35s;
    font-weight: bold;
}
.wrapper .box .form .enter button:hover{
    transition: 0.35s;
    background-color: rgb(121,133,111);
    width: 5rem;
    height: 2rem ;
}

@media only screen and (max-width: 340px){
    .wrapper .box .form ul li input  {
        width: 8rem;
        height: 15px;
        padding: 15px;
    }
}
