*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/*wrapper*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*box*/
.wrapper .detailBox{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(177,206,1);
    margin: 5rem 10px 5rem 10px;
    border-radius: 10px;
    width: 40rem;
    box-shadow: 5px 5px rgb(225, 220, 220);
}

/*logo*/
.wrapper .detailBox .logo{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
    background-color: white;
}
.wrapper .detailBox .logo .signup p{
    font-weight: normal;
    font-size: 3vh;
    background-color: white;
}
.wrapper .detailBox .logo img{
    width: 120px;
    margin-right: 10px;
    background-color: transparent;
}

@media only screen and (max-width: 360px){
    .wrapper .detailBox .logo img{
        width: 80px;
        margin-right: 2px;
    }
    .wrapper .detailBox .logo .signup p{
        font-size: 2vh;
    }
}

/*form*/
.wrapper .detailBox .form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.wrapper .detailBox .form ul li{
    list-style: none;
    background-color: white;
}
.wrapper .detailBox .form ul .form_1{
    display: flex;
    flex-direction: row;
}
.wrapper .detailBox .form ul .form_1 div{
    background-color: white;
}

/*name*/
.wrapper .detailBox .form ul li p{
    font-size: 19px;
    margin-left: 10px;
    background-color: white;
}
/*input*/
.wrapper .detailBox .form ul li input{
    margin: 10px 10px 1rem 10px;
    border: solid 1px rgb(202,202,202);
    border-radius: 10px;
    height: 2rem;
    padding: 20px;
    background-color: white;
    font-size: 18px;
}
.wrapper .detailBox .form ul li select{
    cursor: pointer;
    margin: 10px 10px 1rem 10px;
    border: solid 1px rgb(202,202,202);
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    font-size: 18px;
    color: rgb(102,102,102);
    padding-left: 10px;
    background-color: white;
}


/*footer*/
.wrapper .detailBox{
    background-color: white;
}
.wrapper .detailBox .footer{
    display: flex;
    flex-direction: row;
    background-color: white;
}
/*button*/
.wrapper .detailBox .footer button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
    margin: 1rem 1rem 1rem 1rem;
    font-weight: bold;
}
/*button enter*/
.wrapper .detailBox .footer .enter{
    background-color: white;
}
.wrapper .detailBox .footer .enter button{
    background-color: rgb(148,166,132);
    transition: 0.35s;
}
.wrapper .detailBox .footer .enter button:hover{
    background-color: rgb(121,133,111);
    transition: 0.35s;  
}

/*button back*/
.wrapper .detailBox .footer .back{
    background-color: white;
}
.wrapper .detailBox .footer .back button{
    background-color: rgb(255, 168, 54);
    transition: 0.35s;  
}
.wrapper .detailBox .footer .back button:hover{
    background-color: rgb(223, 154, 64);
    transition: 0.35s;  
}

@media only screen and (max-width: 360px){
    .wrapper .detailBox .logo img{
        width: 80px;
        margin-right: 2px;
    }
    .wrapper .detailBox .logo .signup p{
        font-size: 2vh;
    }
}

@media only screen and (max-width: 430px){
    .wrapper .detailBox .form ul .form_1{
        flex-direction: column;
    }
    .wrapper .detailBox .footer{
        display: flex;
        flex-direction: column;
    }
}